numpy
pandas
scipy
matplotlib
tensorflow
torch
torchaudio
torchvision
Open-Tamil
pyaudio
librosa
tensorflow_datasets
tensorflow-addons
warp-rnnt
nlpaug
visdom
fastapi
uvicorn
Flask
logmmse
soundfile
werkzeug
TensorflowASR
uWSGI