numpy==1.19.2
pandas==1.1.2
scipy==1.5.2
matplotlib==3.3.2
tensorflow==2.3.0
torch==1.6.0
torchaudio==0.6.0
torchvision==0.7.0
Open-Tamil==0.96
pyaudio==0.2.8
librosa==0.8.0
tensorflow_datasets==3.2.1
tensorflow-addons==0.11.2
warp-rnnt==0.4.0
nlpaug==1.0.1
visdom==0.1.8.9
fastapi==0.61.1
uvicorn==0.12.2
Flask==1.1.2
logmmse==1.5
soundfile==0.10.3.post1
werkzeug==1.0.0